.text-area {
    -fx-font-family: "Microsoft JhengHei";
    -fx-font-size: 20;

    -fx-display-caret: true;
}



/*    
    -fx-font-family: "標楷體";
    -fx-font-family: "KaiTi";
     -fx-font-family: "Microsoft JhengHei";
    -fx-font-family: "Courier New";
*/
